{% load static %}
{% load humanize %}
<html>

<head>
    <title>주식은 신이다!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="wrapper">  
        

        <div class="page-header">
 
            <a href="{% url 'user_rank' %}" class="top-menu">rank <span class="glyphicon glyphicon-stats"> </span></a>
            {% if user.is_authenticated %}
            <p class="top-menu"> {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
            <a href="{% url 'login' %}" class="top-menu">login <span class="glyphicon glyphicon-log-in"> </span></a>
            {% endif %}
            <h1><a href="/">Stock</a></h1>

        </div>
        {% if user.is_authenticated %}
        <div class="sidebar">
            
            <h3>보유 자금</h3>
            <p>{{user_info.money| intcomma}} 원</p>
            <h3>보유 주식</h3>
            <ul>
                {% for stock in holding_stocks %}
                <li>{{ stock.stock.name }}: {{ stock.cnt }}주</li>
                {% empty %}
                <li>보유한 주식이 없습니다.</li>
                {% endfor %}
            </ul>
            
        </div>
        {% endif %}

        <div class="page-content">
        {% block content %} 
        {% endblock %}
        </div>

    </div>
</body>

</html>