{% extends 'pages/base.html' %}
{% load humanize %}
{% block content %}


<div class="content container">
    <div class="row">


        {% for page in pages %}
        <div class="post">
            <h2><a href="{% url 'stock_detail' pk=page.pk %}">{{ page.name }}</a></h2>
            <div class="date">
                <row class="price">{{ page.current_price |intcomma }}</row>
                {% if page.up_down < 0 %} <minus> {{page.up_down|floatformat:2}}% </minus>
                    {% else %}
                    <plus> +{{page.up_down|floatformat:2}}% </plus>
                {% endif %}
            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}