
{% extends 'pages/base.html' %}
{% load humanize %}
{% block content %}




<div class="content container">
    <div class="content">




        <h1>{{ stock.name |linebreaksbr }}</h1>
      
        <h3 >
            현재가 : <div id="price" data-update-url="{% url 'update_price' pk=stock.pk %}">{{ stock.current_price|intcomma}}</div>
        </h3>

        <div class="date">
            <plus>고가 : {{ stock.high_price|linebreaksbr |intcomma }}<br></plus>
            <minus>저가 : {{ stock.low_price|linebreaksbr |intcomma }}<br></minus>
            등락 :
            {% if stock.up_down < 0 %} <minus> {{stock.up_down|floatformat:2}}% </minus>
                {% else %}
                <plus> +{{stock.up_down|floatformat:2}}% </plus>
                {% endif %}<br>
        </div>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#purchaseModal">
            주식 거래
        </button>
        {% endif %}
        <div id="chartContainer" style="height: 400px; width: 100%;"></div>

    </div>




</div>
<!-- Modal -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="purchaseModalLabel">주식 구매</h4>
            </div>
            <div class="modal-body">
                <p>거래할 주식의 수량을 정확히 입력해 주시기 바랍니다. (판매 시 음수 입력)</p>
                <!-- 주식 구매 폼 -->
                <form id="purchaseForm">
                    <div class="form-group">
                        <label for="stockQuantity">수량</label>
                        <input type="number" class="form-control" id="stockQuantity" required>
                    </div>
                    <!-- 추가 폼 필드 -->
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="submit" form="purchaseForm" class="btn btn-primary">거래</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#purchaseForm").on('submit', function (e) {
            e.preventDefault();

            // AJAX를 사용하여 서버에 구매 요청을 보낼 수 있습니다.
            var quantity = $("#stockQuantity").val();
            if (quantity == 0) {
                alert("수량은 0을 제외하고 입력해주세요.");
                return false; // 폼 제출을 중단
            }
            $.ajax({
                url: "{% url 'trade_stock' %}", // 구매 처리 URL
                method: "POST",
                data: {
                    'quantity': quantity,
                    'stock_code': "{{ stock.code }}",
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    alert('거래 성공')
                    window.location.reload();
                },
                error: function (error) {
                    alert('거래 실패')
                }
            });
        });
    });
</script>
<script type="text/javascript">
    
    window.onload = function () {
        var jsonData = JSON.parse('{{ data|safe }}'); // Django에서 전달된 데이터
        
        // var dates = jsonData.map(data => data.date);
        // var closingPrices = jsonData.map(data => data.closing_price);
        // var marketPrices = jsonData.map(data => data.market_price);
        // var highPrices = jsonData.map(data => data.high_price);
        // var lowPrices = jsonData.map(data => data.low_price);
        // var amounts = jsonData.map(data => data.amount);
        var dataPoints1 = [], dataPoints2 = [], dataPoints3 = [];
        var stockChart = new CanvasJS.StockChart("chartContainer", {
            exportEnabled: true,
            theme: "light2",
            title: {
                text: "StockChart"
            },
            charts: [{
                toolTip: {
                    shared: true
                },
                axisX: {
                    lineThickness: 5,
                    tickLength: 0,
                    labelFormatter: function (e) {
                        return "";
                    },
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true,
                        labelFormatter: function (e) {
                            return ""
                        }
                    }
                },
                axisY2: {
                    title: "Stock Price",
                    prefix: "₩"
                },
                legend: {
                    verticalAlign: "top",
                    horizontalAlign: "left"
                },
                data: [{
                    name: "가격",
                    yValueFormatString: "#,###.##",
                    axisYType: "secondary",
                    type: "candlestick",
                    risingColor: "green",
                    fallingColor: "red",
                    dataPoints: dataPoints1
                }]
            }, {
                height: 100,
                toolTip: {
                    shared: true
                },
                axisX: {
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY2: {
                    prefix: "",
                    
                },
                legend: {
                    horizontalAlign: "left"
                },
                data: [{
                    yValueFormatString: "#,###.##",
                    axisYType: "secondary",
                    name: "거래량",
                    dataPoints: dataPoints2
                }]
            }],
            navigator: {
                data: [{
                    color: "grey",
                    dataPoints: dataPoints3
                }],
                slider: {
                    minimum: new Date(year=2023, monthIndex=6, date=1),
                    maximum: new Date(),
                }
            }
        });
         function load() {
            var data = jsonData;

            for (var i = 0; i < data.length; i++) {
                dataPoints1.push({ x: new Date(data[i].date), y: [Number(data[i].market_price), Number(data[i].high_price), Number(data[i].low_price), Number(data[i].closing_price)], color: data[i].market_price < data[i].closing_price ? "green" : "red" });;
                dataPoints2.push({ x: new Date(data[i].date), y: Number(data[i].amount), color: data[i].market_price < data[i].closing_price ? "green" : "red" });
                dataPoints3.push({ x: new Date(data[i].date), y: Number(data[i].closing_price) });
            }
   
            stockChart.render();
        }
        load();
    
    }
    
    function checkCrawlingResult() {
        var updateUrl = document.getElementById('price').getAttribute('data-update-url');
        $.ajax({
            url: updateUrl,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                document.getElementById("price").textContent = data.data.data.current_price;
                setInterval(checkCrawlingResult, 100000); 
            },
            error: function (error) {
                console.error("오류 발생", error);
            }
        });
        
        }

    checkCrawlingResult() // 예: 5초마다 확인
</script>

{% endblock %}